{% extends "base.html" %}
{% block content %}
    <form method="get" class="row g-3 mb-4">
        <div class="col-auto">
            <label>Início</label>
            <input type="datetime-local"
                   name="start"
                   class="form-control"
                   value="{{ request.args.get('start') }}">
        </div>
        <div class="col-auto">
            <label>Fim</label>
            <input type="datetime-local"
                   name="end"
                   class="form-control"
                   value="{{ request.args.get('end') }}">
        </div>
        <div class="col-auto">
            <label>informação</label>
            <select name="info_type" class="form-control">
                <option value="">Todos</option>
                {% for type in info_types %}
                    <option value="{{ type }}"
                            {% if request.args.get('type') == type %}selected{% endif %}>{{ type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <label>Tipo</label>
            <select name="device_type" class="form-control">
                <option value="">Todos</option>
                {% for type in device_types %}
                    <option value="{{ type }}"
                            {% if request.args.get('device_type') == type %}selected{% endif %}>{{ type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <label>Nome</label>
            <select name="name" class="form-control">
                <option value="">Todos</option>
                {% for name in names %}
                    <option value="{{ name }}"
                            {% if request.args.get('name') == name %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto align-self-end">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </form>
    <h2 class="mb-3">dados coletados:</h2>
    <div id="info"></div>
    <div class="card shadow-sm p-3 mb-4">
        <ul id="data-list" class="list-group list-group-flush">
        </ul>
    </div>
{% endblock content %}
{% block script %}
    <script>
        const form = document.querySelector("form");
        const url = "{{ url_for('api.all_metrics') }}"
        const url_filters = "{{ url_for('api.filters') }}"

        function formatInfo(params) {
            const start = params.get("start");
            const end = params.get("end");

            if (start && end) {
                return `Exibindo de <b>${start}</b> até <b>${end}</b>`;
            } else if (start) {
                return `Exibindo a partir de <b>${start}</b>`;
            } else if (end) {
                return `Exibindo até <b>${end}</b>`;
            }
            return "";
        }

        async function loadData() {
            const params = new URLSearchParams(window.location.search);

            const res = await fetch(url + "?" + params.toString());
            const data = await res.json();

            const list = document.getElementById("data-list");
            const info = document.getElementById("info");

            list.innerHTML = "";

            const infoText = formatInfo(params);
            if (infoText) {
                info.innerHTML = `<div class="alert alert-info">${infoText}</div>`;
            }

            if (data.length === 0) {
                list.innerHTML = '<li class="list-group-item">No data</li>';
                return;
            }

            for (const item of data) {
                const {timestamp, infotype, device_type, name, value } = item;

                let unit = infotype === "temperature" ? "°C" :
                        infotype === "battery" ? "%" : "";

                let label = `${timestamp} - ${infotype}`;
                if (device_type) label += ` - ${device_type}`;
                if (name) label += ` - ${name}`;

                list.innerHTML += `
                    <li class="list-group-item d-flex justify-content-between">
                        <span>${label}</span>
                        <span class="fw-bold">${value ?? "?"}${unit}</span>
                    </li>
                `;
            }
        }

        async function loadFilters() {
            const params = new URLSearchParams(new FormData(form));

            const res = await fetch(url_filters + "?" + params.toString());
            const data = await res.json();

            fillSelect("info_type", data.info_types);
            fillSelect("device_type", data.device_types);
            fillSelect("name", data.names);
        }

        function fillSelect(name, values) {
            const select = document.querySelector(`select[name="${name}"]`);
            if (!select) return;

            const current = select.value;

            select.innerHTML = `<option value="">Todos</option>`;

            for (const v of values) {
                select.innerHTML += `
                    <option value="${v}" ${v === current ? "selected" : ""}>
                        ${v}
                    </option>
                `;
            }
        }

        // quando mudar info_type → reseta device + name
        document.querySelector("select[name='info_type']")
            .addEventListener("change", () => {
                document.querySelector("select[name='device_type']").value = "";
                document.querySelector("select[name='name']").value = "";
                loadFilters();
            });

        // quando mudar device_type → reseta name
        document.querySelector("select[name='device_type']")
            .addEventListener("change", () => {
                document.querySelector("select[name='name']").value = "";
                loadFilters();
            });

        // submit normal continua igual
        document.querySelector("form").addEventListener("submit", (e) => {
            e.preventDefault();

            const params = new URLSearchParams(new FormData(form));
            history.pushState(null, "", "?" + params.toString());

            loadData();
            loadFilters();
        });

        // inicial
        loadFilters();
        loadData();
    </script>
{% endblock script %}
