{% extends "base.html" %}
{% block content %}
    <h3 class="mb-3">Menu</h3>
    <div class="alert alert-info">Selecione um período e tipo de métrica para visualizar os dados coletados.</div>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ url_for('visualization.latest') }}">
                <i class="fa-solid fa-clock me-2"></i> Últimos dados coletados
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('visualization.dashboard') }}">
                <i class="fa-solid fa-chart-simple me-2"></i> Dados coletados no período
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('visualization.min_max_temp') }}">
                <i class="fa-solid fa-temperature-high me-2"></i> Picos e vales de temperatura por dia
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('visualization.grafico_temperatura') }}">
                <i class="fa-solid fa-chart-area"></i> Grafico de temperatura
            </a>
        </li>
    </ul>
{% endblock content %}
