{% extends "base.html" %}
{% block content %}
    <h2 class="mb-3">CPU</h2>
    <div class="card shadow-sm p-3 mb-4">
        <ul id="cpu-list" class="list-group list-group-flush">
        </ul>
    </div>
    <h2 class="mb-3">Discos</h2>
    <div class="card shadow-sm p-3 mb-4">
        <ul id="disk-list" class="list-group list-group-flush">
        </ul>
    </div>
    <h2 class="mb-3">Batteria</h2>
    <div class="card shadow-sm p-3 mb-4">
        <ul id="battery" class="list-group list-group-flush">
        </ul>
    </div>
    <h2 class="mb-3">Rede</h2>
    <div class="card shadow-sm p-3">
        <ul id="network-list" class="list-group list-group-flush">
        </ul>
    </div>
{% endblock content %}
{% block script %}
    <script>
        function getBatteryIcon(value) {
            if (value >= 80) return "fa-battery-full";
            if (value >= 60) return "fa-battery-three-quarters";
            if (value >= 40) return "fa-battery-half";
            if (value >= 20) return "fa-battery-quarter";
            return "fa-battery-empty";
        }

        function getTailscaleIcon(status) {
            if (status.includes("direct")) return "fa-circle-nodes";
            if (status.includes("relay")) return "fa-network-wired";
	    if (status.includes("online")) return "fa-tower-broadcast";
            return "fa-circle-question";
        }

        function getLocalIcon(status) {
            if (status) return "fa-house-signal";
            return "fa-wifi";
        }

        async function loadData() {
            const url = "{{ url_for('api.last_metrics') }}";
            const res = await fetch(url);
            const data = await res.json();

            const cpuList = document.getElementById("cpu-list");
            const diskList = document.getElementById("disk-list");
            const battery = document.getElementById("battery");
            const networkList = document.getElementById("network-list");

            cpuList.innerHTML = "";
            diskList.innerHTML = "";

            // CPU
            if (Object.keys(data.cpu).length === 0) {
                cpuList.innerHTML = '<li class="list-group-item">No data</li>';
            } else {
                for (const core in data.cpu) {
                    const info = data.cpu[core];

                    cpuList.innerHTML += `
                        <li class="list-group-item d-flex justify-content-between">
                            <span>
                                <i class="fa-solid fa-microchip me-2"></i>
                                ${core}
                            </span>
                            <span class="fw-bold">${info.value}°C at ${info.time}</span>
                        </li>
                    `;
                }
            }

            // DISK
            if (Object.keys(data.disk).length === 0) {
                diskList.innerHTML = '<li class="list-group-item">No data</li>';
            } else {
                for (const disk in data.disk) {
                    const info = data.disk[disk];

                    diskList.innerHTML += `
                        <li class="list-group-item d-flex justify-content-between">
                            <span>
                                <i class="fa-solid fa-hard-drive me-2"></i>
                                ${disk}
                            </span>
                            <span class="fw-bold">${info.value}°C at ${info.time}</span>
                        </li>
                    `;
                }
            }

            // BATTERY
            if (!data.battery) {
                battery.innerHTML = '<li class="list-group-item">No data</li>';
            } else {
                const info = data.battery;

                battery.innerHTML = `
                    <li class="list-group-item d-flex justify-content-between">
                        <span>
                            <i class="fa-solid ${getBatteryIcon(info.value)} me-2"></i>
                            Bateria
                        </span>
                        <span class="fw-bold">${info.value ?? "?"}% at ${info.time ?? "-"}</span>
                    </li>
                `;
            }

            // rede
            networkList.innerHTML = '';

            for (const ip in data.network) {
                const n = data.network[ip];

                networkList.innerHTML += `
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <i class="fa-solid ${getTailscaleIcon(n.tailscale)} me-2"></i>
                            ${n.name} (${ip})
                        </span>

                        <span class="fw-bold">
                            <i class="fa-solid ${getLocalIcon(n.local)} me-1"></i>
                            ${n.tailscale} / local: ${n.local}
                            <small class="text-muted ms-2">${n.time ?? "-"}</small>
                        </span>
                    </li>
                `;
            }
        }

        // carrega na primeira vez
        loadData();

        // atualiza a cada 60s
        setInterval(loadData, 60000);
    </script>
{% endblock script %}
