{% extends "base.html" %}
{% block content %}
    <form method="get" class="row g-3 mb-4">
        <div class="col-auto">
            <label>Início</label>
            <input type="datetime-local"
                   name="start"
                   class="form-control"
                   value="{{ request.args.get('start') }}">
        </div>
        <div class="col-auto">
            <label>Fim</label>
            <input type="datetime-local"
                   name="end"
                   class="form-control"
                   value="{{ request.args.get('end') }}">
        </div>
        <div class="col-auto">
            <label>Tipo</label>
            <select name="device_type" class="form-control"></select>
        </div>
        <div class="col-auto">
            <label>Nome</label>
            <select name="name" class="form-control"></select>
        </div>
        <div class="col-auto">
            <label>Page</label>
            <input type="number"
                   name="page"
                   value="{{ request.args.get('page', 0) }}"
                   class="form-control">
        </div>
        <div class="col-auto align-self-end">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </form>
    <div class="card shadow-sm p-3">
        <button class="btn btn-sm btn-secondary mb-2" onclick="chart.resetZoom()">Reset Zoom</button>
        <canvas id="chart"></canvas>
    </div>
{% endblock content %}
{% block script %}
    <script>
        const form = document.querySelector("form");
        const url = "{{ url_for('api.temperature_series') }}";
        const url_filters = "{{ url_for('api.filters') }}";

        let chart;
        const selected = {{ selected|tojson }};
        let first = true;

        function getColor(i) {
            const colors = [
                "#ff6384", "#36a2eb", "#ffcd56",
                "#4bc0c0", "#9966ff", "#ff9f40"
            ];
            return colors[i % colors.length];
        }

        async function loadChart() {
            const params = new URLSearchParams(window.location.search);

            const res = await fetch(url + "?" + params.toString());
            const rawData = await res.json();

            if (!rawData || rawData.length === 0) {
                if (chart) chart.destroy();
                return;
            }

            // labels
            const labels = [...new Set(rawData.map(d => d.timestamp))].sort();

            // agrupar
            const grouped = {};
            for (const d of rawData) {
                const key = `${d.device_type}-${d.name}`;
                if (!grouped[key]) grouped[key] = {};
                grouped[key][d.timestamp] = d.value;
            }

            // datasets
            const datasets = [];
            let i = 0;

            for (const key in grouped) {
                const g = grouped[key];
                const data = labels.map(t => g[t] ?? null);

                datasets.push({
                    label: key,
                    data: data,
                    borderWidth: 2,
                    tension: 0.3,
                    borderColor: getColor(i),
                    backgroundColor: getColor(i)
                });

                i++;
            }

            const ctx = document.getElementById("chart").getContext("2d");

            if (chart) chart.destroy();

            chart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    responsive: true,
                    interaction: {
                        mode: "index",
                        intersect: false
                    },
                    scales: {
                        x: {
                            type: "time",
                            time: {
                                unit: "minute"
                            },
                            ticks: {
                                callback: function(value) {
                                    const date = new Date(value);

                                    return date.toLocaleTimeString("pt-BR", {
                                        hour: "2-digit",
                                        minute: "2-digit",
                                        hour12: false
                                    });
                                }
                            }
                        }
                    },
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    const date = new Date(context.parsed.x);

                                    return date.toLocaleTimeString("pt-BR", {
                                        hour: "2-digit",
                                        minute: "2-digit",
                                        hour12: false
                                    }) + " - " + context.parsed.y;
                                }
                            }
                        },
                        zoom: {
                            pan: { enabled: true, mode: "x" },
                            zoom: {
                                wheel: { enabled: true },
                                pinch: { enabled: true },
                                pan: {
                                    enabled: true,
                                    mode: 'x',
                                    threshold: 10
                                },
                                drag: {
                                    enabled: true,
                                    backgroundColor: 'rgba(225,225,225,0.3)', // Color of the selection box
                                    borderColor: 'rgba(225,225,225,0.8)',
                                    borderWidth: 1,
                                },
                                mode: "x"
                            }
                        }
                    }
                }
            });
        }

        async function loadFilters() {
            const params = new URLSearchParams(new FormData(form));
            params.set("info_type", "temperature");
            if (first) {
                if (selected['device_type'])
                    params.set("device_type", selected['device_type']);
                
                if (selected['name'])
                    params.set("name", selected['name']);

                first = false;
            } else {
                selected['device_type'] = params.get('device_type');
                selected['name'] = params.get('name');
            }

            const res = await fetch(url_filters + "?" + params.toString());
            const data = await res.json();

            fillSelect("device_type", data.device_types);
            fillSelect("name", data.names);
        }

        function fillSelect(name, values) {
            const select = document.querySelector(`select[name="${name}"]`);
            if (!select) return;

            //const current = new URLSearchParams(window.location.search).get(name);
            const current = selected[name];  // 🔥 aqui

            select.innerHTML = `<option value="">Todos</option>`;

            for (const v of values) {
                select.innerHTML += `
                    <option value="${v}" ${v === current ? "selected" : ""}>
                        ${v}
                    </option>
                `;
            }
        }

        // dependência entre selects (igual metrics)
        document.querySelector("select[name='device_type']")
            .addEventListener("change", () => {
                document.querySelector("select[name='name']").value = "";
                loadFilters();
            });

        // submit sem reload
        form.addEventListener("submit", (e) => {
            e.preventDefault();

            const params = new URLSearchParams(new FormData(form));
            history.pushState(null, "", "?" + params.toString());

            loadChart();
            loadFilters();
        });

        // init
        loadFilters();
        loadChart();

        setInterval(loadChart, 60000);
    </script>
{% endblock script %}
