<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="hardware, temperature">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords"
              content="sistema, hardware, monitoramento, temperatura, cpu, disco">
        <title>Hardware Monitor</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Hardware Monitor</a>
                <div class="navbar-nav">
                    <a class="nav-link" href="{{ url_for('default.index') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('default.metrics') }}">API</a>
                    <a class="nav-link" href="{{ url_for('visualization.index') }}">Dashboard</a>
                    
                </div>
            </div>
        </nav>
        <div class="container mt-4">
            {% block content %}
            {% endblock content %}
        </div>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        {% block script %}
        {% endblock script %}
    </body>
</html>
