<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="hardware, temperature">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords"
              content="sistema, hardware, monitoramento, temperatura, cpu, disco">
        <title>Hardware Monitor</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='awesome/all.min.css') }}">
        {% block style %}
        {% endblock style %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('default.index') }}">Hardware Monitor</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <!-- botão -->
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">Dropdown</a>
                            <!-- parte colapsável -->
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('default.index') }}">Home</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('api.menu') }}">API</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('visualization.index') }}">Dashboard</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-4">
            {% block content %}
            {% endblock content %}
        </div>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='chart/js/chart.js') }}"></script>
        {% block script %}
        {% endblock script %}
    </body>
</html>
